a:link{
    text-decoration: none;
    color:blue;
}
a:visited{
    color: blueviolet;
}

.completed{
    color:green
}

h4{
    margin-bottom: -10px;
    margin-top: -10px;
}

body{
    
}

.legend{
    text-align: center;
    margin-top: 5px;
    width: 10vw;
    border: 1px solid black;
    overflow-y: auto;
    display: inline-block;
}

.block_content{
    font-size: larger;
    font-weight: bolder;
}

.legend_list{
    height: 14vh;
    overflow-y: auto;
    margin-top: -1vh;
}

.block{
    height: 20vh;
    display: flex;
    vertical-align: middle;
    text-align: center;
    margin-top: 5px;
    border: 1px solid black;
    overflow-y: auto;
    display: inline-block;
}

.generated{
    text-align: center;
    margin-top: 5px;
    width: 10vw;
    border: 1px solid black;
    overflow-y: auto;
    display: inline-block;
}

.entry{
    background-color: tan;
    border-left: 1px solid black;
    padding-left: 10px;
}

.header{

}

.footer{
    font-size: smaller;
}