a:link{
    text-decoration: none;
    color:blue;
}
a:visited{
    color: blueviolet;
}

.completed{
    color:green
}

h4{
    margin-bottom: -10px;
    margin-top: -10px;
}

body{
    
}

.legend{
    text-align: center;
    margin-top: 5px;
    width: 10vw;
    border: 1px solid black;
    overflow-y: auto;
    display: inline-block;
}

.legend_list{
    height: 10vh;
    overflow-y: auto;
}

.generated{
    text-align: center;
    border: 1px solid black;
    display: inline-block;
    margin-top: 5px;
    width: 30vw;
}

.entry{
    background-color: tan;
    border-left: 1px solid black;
    padding-left: 10px;
}

.header{

}

.footer{
    font-size: smaller;
}